[Unit]
Description=Henomorphs Colony Wars defense bot (Linux daemon)
After=network.target

[Service]
ExecStart=/path/to/Henomorphs/rundaemon.sh <args>
Restart=no
WorkingDirectory=/path/to/Henomorphs
StandardOutput=null
StandardError=null

[Install]
WantedBy=multi-user.target
